html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.container {
	height: 100%;
	position: relative;
}

input {
	font-size: 12px;
}

h1 {
	color: #525454;
	font-size: 22px;
	margin: 0 0 10px 0;
	text-align: center;
}

#map {
	bottom: 0px;
	height: 100%;
	left: 60px;
	position: absolute;
	right: 0px;
}

.filter {
	background: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	height: 100%;
	line-height: 35px;
	padding: 10px 10px 30px 10px;
	text-align: left;
	width: 340px;
}

.filter ul {
	list-style: none;
	padding-left: 0;
}

#menu button {
	width: 35px;
}

/* Styles incorporated from Udacity off-canvas course*/

nav {
	z-index: 1;
	width: 340px;
	height: 100%;
	position: absolute;
	-webkit-transform: translate(-400px, 0);
	transform: translate(-400px, 0);
	transition: transform 0.3s ease;
}

nav.open {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

@media (min-width: 768px) {

	nav {
		position: relative;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	body {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}

	main {
		width: auto;
		flex-grow: 1;
	}
}